<header>
  <img ngSrc="assets/LOGO-WILAYA.png" height="70" width="70" class="ml-3 mt-1 mb-1"/>
  <div class="menu font-weight-bold">
    <ul>
      <li>
        <a  routerLink="/home" > <i class="bi bi-house "></i> Page d'accueil </a>
      </li>

      <li>
        <a  routerLink="/admin-employees" ><i class="bi bi-people"></i> Personnel</a>
      </li>

      <li>
        <a routerLink="/admin-absences"  ><i class="bi bi-folder"></i> Absences</a>
      </li>

      <li>
        <a  id="profile" routerLink="/admin-profile" ><i class="bi bi-person"></i> Mon profil</a>
      </li>


      <li>
        <a class="text-danger" routerLink="/login"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a>
      </li>
    </ul>
  </div>
</header>


<div class="row mt-2">
  <div class="col-12 ml-5">
    <h1>Bonjour,</h1>
    <h3 class="ml-2">{{ HomeComponent.sexe }} {{HomeComponent.nom}} {{HomeComponent.prenom}}</h3>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total Employees</h5>
        <p class="card-text display-4">120</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Departments</h5>
        <p class="card-text display-4">5</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Leave Requests</h5>
        <p class="card-text display-4">8</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Attendance</h5>
        <p class="card-text display-4">95%</p>
      </div>
    </div>
  </div>
</div>

