<header>
  <img ngSrc="assets/LOGO-WILAYA.png" height="70" width="70" class="ml-3 mt-1 mb-1"/>
  <div class="menu font-weight-bold">
    <ul>
      <li>
        <a routerLink="/home"> <i class="bi bi-house"></i> Page d'accueil </a>
      </li>
      <li>
        <a routerLink="/admin-employees"><i class="bi bi-people"></i> Personnel</a>
      </li>
      <li>
        <a routerLink="/admin-absences"><i class="bi bi-folder"></i> Absences</a>
      </li>
      <li>
        <a id="profile" routerLink="/admin-profile"><i class="bi bi-person"></i> Mon profil</a>
      </li>
      <li>
        <a class="text-danger" routerLink="/login"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a>
      </li>
    </ul>
  </div>
</header>

<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem; font-size: 1.2rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="../../assets/Souss-massa-region.png" height="90" width="90" class="ml-3" alt="logo" />
              <h5 style="font-size: 1.5rem;">Marie Horwitz</h5> <!-- Augmenter la taille de la police -->
              <p style="font-size: 1.3rem;">Web Designer</p> <!-- Augmenter la taille de la police -->
              <i class="far fa-edit mb-5" style="font-size: 1.5rem;"></i> <!-- Augmenter la taille de l'icône -->
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6 style="font-size: 1.4rem;">Informations Familiales</h6> <!-- Augmenter la taille de la police -->
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <label for="nom_pere" style="font-size: 1.3rem;">Nom du père</label> <!-- Augmenter la taille de la police -->
                    <input type="text" id="nom_pere" class="form-control" value="">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="nom_mere" style="font-size: 1.3rem;">Nom de la mère</label> <!-- Augmenter la taille de la police -->
                    <input type="text" id="nom_mere" class="form-control" value="">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="situation_familiale" style="font-size: 1.3rem;">Situation familiale</label> <!-- Augmenter la taille de la police -->
                    <input type="text" id="situation_familiale" class="form-control" value="">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="date_mariage" style="font-size: 1.3rem;">Date de mariage</label> <!-- Augmenter la taille de la police -->
                    <input type="text" id="date_mariage" class="form-control" value="">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="nom_conjoint" style="font-size: 1.3rem;">Nom du conjoint</label> <!-- Augmenter la taille de la police -->
                    <input type="text" id="nom_conjoint" class="form-control" value="">
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3" style="font-size: 1.5rem;"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3" style="font-size: 1.5rem;"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg" style="font-size: 1.5rem;"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
