<header>
  <img ngSrc="assets/LOGO-WILAYA.png" height="70" width="70" class="ml-3 mt-1 mb-1"/>
  <div class="menu font-weight-bold">
    <ul>
      <li>
        <a  routerLink="/home" > <i class="bi bi-house "></i> Page d'accueil </a>
      </li>

      <li>
        <a  routerLink="/admin-employees" ><i class="bi bi-people"></i> Personnel</a>
      </li>

      <li>
        <a routerLink="/admin-absences"  ><i class="bi bi-folder"></i> Absences</a>
      </li>

      <li>
        <a routerLink="/"  ><i class="bi bi-book"></i> Formations</a>
      </li>

      <li>
        <a  id="profile" routerLink="/admin-profile" ><i class="bi bi-person"></i> Mon profil</a>
      </li>

      <li>
        <a class="text-danger" routerLink="/login"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a>
      </li>
    </ul>
  </div>
</header>

<div class="d-flex justify-content-center align-items-center mt-5" style="height: 80vh;">
  <div class="col-lg-10 mb-4">
    <div class="card mb-3" style="border-radius: .5rem; font-size: 1.2rem;">
      <div class="row g-0">
        <div class="col-md-4 gradient-custom text-center text-white"
             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
          <div class="mt-5 p-5">
            <img src="../../assets/profile-photo.webp" height="90" width="90" class="ml-3" alt="photo personnelle"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body p-4">
            <h6 style="font-size: 1.4rem;">Informations Personnelles</h6> <!-- Augmenter la taille de la police -->
            <hr class="mt-0 mb-4">
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <label for="email" style="font-size: 1.3rem;">Email</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="email" class="form-control" value="info@example.com">
              </div>
              <div class="col-6 mb-3">
                <label for="phone" style="font-size: 1.3rem;">Phone</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="phone" class="form-control" value="123 456 789">
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <label for="cin" style="font-size: 1.3rem;">CIN</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="cin" class="form-control" value="AB123456">
              </div>
              <div class="col-6 mb-3">
                <label for="nom" style="font-size: 1.3rem;">Nom</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="nom" class="form-control" value="Marie Horwitz">
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <label for="poste" style="font-size: 1.3rem;">Poste de travail</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="poste" class="form-control" value="Web Designer">
              </div>
              <div class="col-6 mb-3">
                <label for="sexe" style="font-size: 1.3rem;">Sexe</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="sexe" class="form-control" value="Féminin">
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <label for="date_naissance" style="font-size: 1.3rem;">Date de naissance</label> <!-- Augmenter la taille de la police -->
                <input type="text" id="date_naissance" class="form-control" value="01/01/1990">
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3" style="font-size: 1.5rem;"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3" style="font-size: 1.5rem;"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg" style="font-size: 1.5rem;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="bg-light text-center">
  <div class="p-1">
    <p>© 2024 Application RH. Tous droits réservés.</p>
  </div>
</footer>
