<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Souss-massa-region.png" height="115" width="115"/>
    </a>

    <div class="collapse navbar-collapse"  id="navbarNav">
      <h2>Bonjour {{currentname}}</h2>
      <ul class="navbar-nav ms-3 ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Tableau de bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#employees">Dossier des fonctionnaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#departments">Demande d'absences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#attendance">Gestion de carrière</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile">Profil</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="row my-4">
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total Employees</h5>
        <p class="card-text display-4">120</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Departments</h5>
        <p class="card-text display-4">5</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Leave Requests</h5>
        <p class="card-text display-4">8</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Attendance</h5>
        <p class="card-text display-4">95%</p>
      </div>
    </div>
  </div>
</div>
